<app-header></app-header>

<!-- <div class="card-commission">
  <div class="commission-content">
    <div class="commision-value">
      <h2>Comissão</h2>
      <p>R$ 190,00</p>
    </div>

    <div class="commision-date">
      <h2>Mês referente</h2>
      <p>Outub 1 - 30</p>
    </div>
  </div>
</div> -->

<div class="app-container" style="margin-bottom: 100px;">
  <ul class="app-list" style="margin-top: 80px;">
    <li>
      <div class="title">
        <h2>Orçamento e vendas</h2>
        <p>{{getMesEAno()}}</p>
      </div>

      <div class="card card-vendas">
        <div class="card-name">
          <span>{{appSalesCount?.sale_count || '0'}}</span>
          <span>Vendas</span>
        </div>

        <span class="card-value">{{appSalesCount?.sale_value || 0 | currency:'BRL':'symbol':'1.2-2':'pt-BR'}}</span>
      </div>

      <div class="card card-orcamentos">
        <div class="card-name">
          <span>{{appSalesCount?.budget_count || '0'}}</span>
          <span>Orçamentos</span>
        </div>

        <span class="card-value">{{appSalesCount?.budget_value || 0 | currency:'BRL':'symbol':'1.2-2':'pt-BR'}}</span>
      </div>
    </li>
  </ul>

  <ul class="app-list" style="margin-top: 10px;">
    <li style="background-color: var(--color-primary);">
      <div class="notification">
        <div class="details">
          <h2>Aprenda com a gente!</h2>
          <p>Temos uma formações completa dentro de nosso app.</p>
        </div>

        <img src="assets/notification-dash.png" alt="Ajuda">
      </div>
    </li>
  </ul>

  <div class="chart">
    <canvas #meuCanvas></canvas>
  </div>

  <ul class="app-list" style="margin-top: 20px;" routerLink="../helper">
    <li>
      <div class="help">
        <img src="assets/help.png" alt="Ajuda">
        <div class="details">
          <h2>Precisa de ajuda?</h2>
          <p>Fale com a gente pelo Whatsapp, tire suas dúvidas e acompanhe seus chamados.</p>
        </div>
      </div>
    </li>
  </ul>
</div>
