<app-fixed-header  [fixedHeader]="fixedHeader"></app-fixed-header>

<div class="app-container">
  <ul class="app-list">
    <li *ngFor="let person of people" (click)="setPeople(person)">
      <div class="title">
        <h3>{{ person.name }}</h3>
        <p>{{ person.fantasy_name || '' }}</p>
      </div>
      <div class="description-values" style="border: none; padding-bottom: 0;">
        <span>CNPJ: <b>{{ person.document | mask: person.people_type == 0 ? '000.000.000-00' : '00.000.000/0000-00'}}</b></span>
      </div>
      <div *ngIf="person?.address?.city" class="description-values" style="border: none; padding: 0; ">
        <span>Cidade: <b>{{person?.address?.city}}</b></span>
        <span>Estado: <b>{{person?.address?.state}}</b></span>
      </div>
      <!-- <div *ngIf="person?.address" class="description-values" style="border: none; padding-bottom: 0; ">
        <span>Endereço: <b>{{person?.address?.address}}</b></span>
      </div>
      <div *ngIf="person?.address" class="description-values" style="border: none; padding: 0; ">
        <span>Bairro: <b>{{person?.address?.district}}</b></span>
      </div> -->
    </li>
  </ul>
</div>
