<footer>
  <ul>
    <li>
      <button mat-icon-button routerLink="">
        <mat-icon>home</mat-icon>
      </button>
      <p>Inicio</p>
    </li>
    <li>
      <button mat-icon-button routerLink="../shopping-cart">
        <mat-icon>shopping_cart</mat-icon>
      </button>
      <p>Carrinho</p>
    </li>
    <li>
      <button mat-icon-button routerLink="../sale">
        <mat-icon>store</mat-icon>
      </button>
      <p>Pedidos</p>
    </li>
    <li>
      <button mat-icon-button>
        <mat-icon>receipt</mat-icon>
      </button>
      <p>Relatórios</p>
    </li>
  </ul>
</footer>
