<div class="skeleton-container">
  <div class="skeleton-element skeleton-header"></div>
  <div class="skeleton-element skeleton-text"></div>
  <div class="skeleton-element skeleton-text short"></div>
  <div class="skeleton-element skeleton-image"></div>
  <div class="skeleton-element skeleton-text"></div>
  <div class="skeleton-element skeleton-text"></div>
  <div class="skeleton-element skeleton-text short"></div>
  <div class="skeleton-element skeleton-text"></div>
  <div class="skeleton-element skeleton-text"></div>
  <div class="skeleton-element skeleton-image"></div>
</div>
